
      <div class="page-header" style="margin-bottom:0px;">
			  <h1>
          <div class="row">
            <%if speaker.id!=current_user.id%>
            <div class="span1" style="padding-top:20px;">
                  <%=image_tag speaker.image%>
            </div>
            <%end%>
            <div class="span11">
              <h1>
              <%=speaker.first_name%> <%=speaker.last_name%><small> <%=speaker.address%>
              <%if speaker.id==current_user.id%>
              <%=link_to "edit profile", speaker_url, :class=>"btn pull-right"%>
              <%end%>
            </small><br>
              <%if speaker.id!=current_user.id%>
                  <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal">Schedule an Engagement</a>
              <%end%>
              </h1>
            </div>
        </div>
			</div>
      <br>
      <div class="row">
        <div class="span5">
             <%if speaker.elementary || speaker.middle || speaker.high || speaker.college%>
              <%="<span class='label label-info'>Elementary School</span>".html_safe if speaker.elementary%>
              <%="<span class='label label-info'>Middle School</span>".html_safe if speaker.middle%>
              <%="<span class='label label-info'>High School</span>".html_safe if speaker.high%>
              <%="<span class='label label-info'>College & University</span>".html_safe if speaker.college%>
            <%end%>
            <h3><%=speaker.industry%></h3>
            <%=pluralize(speaker.years,'year').titleize%> Of Experience
            <h3>Activities:</h3>
            <%=speaker.bio%>
            <%if speaker.in_person || speaker.skype%>
            <h3>Available <%="in person" if speaker.in_person && !speaker.skype%> <%="via Skype" if speaker.skype && !speaker.in_person%> <%="in person and via Skype" if speaker.in_person && speaker.skype%></h3> 
            <%end%>
          
          
        </div>
      </div>