  <div id="content" class="">
    <div class="container">
      <div class="row">
      	<div class="span12">
        	<%=render 'user/info_header', :speaker=>@speaker%>
          <div class="row">
            <%=render 'user/info_body', :speaker=>@speaker%>
          </div>
      	</div>
      </div>
    </div>
  </div>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Invite <%=@speaker.first_name%> <%=@speaker.last_name%> to speak</h3>
  </div>
  <%=form_tag book_url do%>
  <div class="modal-body">
    You're about to open your students' eyes to a new career path.  Please answer the following questions to help the speaker better understand the opportunity.<br><br>
    1. Number of students the speaker will be speaking to:<br>
  	<%=select_tag :size, options_for_select(["1-20","21-50","50-200","200+"])%><br>
    2. Gender Makeup:<br>
    <%=text_field_tag :gender, nil, :placeholder=>"More male, more female, equal?"%><br>
    3. General Character of Class (check up to 3):<br>
    <%=select_tag :course, options_for_select([
        "Motivated Learners",
        "Struggling Learners",
        "Dependent on teacher",
        "Independent thinkers",
        "College-bound",
        "Work-force bound",
        "Cooperative",
        "Talkative",
        "Inquisitive",
        "Self-directed",
      ]),:multiple=>true%><br>
      4. Are there students with Special Needs? If so, what modification may be necessary?<br>
  	<%=text_area_tag :needs, nil, :rows=>3, :placeholder=>"Comments..."%><br>
    5. Please share with the speaker any other relevant information about the students in this class.<br>
    <%=text_area_tag :students, nil, :rows=>3, :placeholder=>"Comments..."%><br>
    6. Location of your class<br>
    <%=text_field_tag :location, nil, :placeholder=>""%><br>
    7. Would you prefer to invite the speaker via Skype?
    <%=check_box_tag :skype%><br>
  	<%=hidden_field_tag :to_id, @speaker.id%>
  	<%=hidden_field_tag :from_id, current_user.id%>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%=submit_tag "Send", :class=>"btn btn-primary"%>
  </div>
  <%end%>
</div>