  <div id="content" class="">
    <div class="container">
      <div class="row">
      	<div class="span12">
      		<%=form_tag teacher_url, :class=>"form-horizontal" do%>
          <table>
            <tr style="vertical-align:top;">
              <td style="vertical-align:top;">Profession</td>
              <td style="vertical-align:top;">Level</td>
              <td style="vertical-align:top;">Location</td>
              <td style="vertical-align:top;">Availability</td>
              <td style="vertical-align:top;"></td>
            </tr>
            <tr>
              <%one = ["Any"]+SpeakerProfile.new.get_careers%>
              <%two = ["Any","Elementary School", "Middle School", "High School", "College"]%>
              <%three = Array.new(10){|a| a+1}.prepend("Any")%>
              <%four = ["Any"]+SpeakerProfile.new.get_locations%>
              <%five = ["Any","In Person", "Via Skype","Both"]%>
      		<td><%=text_field_tag :career, nil, :placeholder=>"Any", :class=>"input-medium career-search"%></td>
      		<td><%=select_tag :school, options_for_select(two.collect{|s| [s,two.index(s)]}),:class=>"input-medium"%></td>
          <td><%=text_field_tag :location, nil, :placeholder=>"Any", :class=>"input-medium location-search"%></td>
          <td><%=select_tag :availability, options_for_select(five.collect{|s| [s,five.index(s)]}),:class=>"input-medium"%></td>
          <%=hidden_field_tag :years, 0%>
      		<td><%=submit_tag "Find Speakers",:class=>"btn btn-primary"%></td>
        </tr>
        </table>
      		<%end%>

      		<%if @speakers && @speakers.size>0%>
      		<%@speakers.each do |s|%>
          <%if s.user%>
	      		<div style="overflow:hidden;">
	      			<div style="display:inline-block;vertical-align:bottom;padding:10px 10px 15px; 10px;">
	      			    <%=image_tag s.user.image%>
              </div>
	      			<div style="display:inline-block;vertical-align:top;width:350px;margin-left:20px;padding:10px;">
                   <h3 style="margin-top:0px;margin-bottom:0px;"><%=s.user.first_name%> <%=s.user.last_name%></h3>
    	      			<%=s.career%> <span class="muted">(<%=s.years%> yrs)</span><br>
    	      			<%=s.location%><br>
                  <%if !user_signed_in? %>
                  <%=link_to "Sign up to view!", new_user_registration_url, :class=>"btn btn-primary"%>
                <%elsif current_user.speaker!="1"%>
                  <%=link_to "View", appointment_url(s), :class=>"btn btn-primary"%>
                <%end%>
              </div>
              <div style="display:inline-block;vertical-align:top;width:200px;padding:10px;">
                <h3 style="margin-top:0px;margin-bottom:0px;">Would Speak At:</h3>
                <%="Elementary School<br>".html_safe if s.elementary%>
                <%="Middle School<br>".html_safe if s.middle%>
                <%="High School<br>".html_safe if s.high%>
                <%="College & University<br>".html_safe if s.college%>
              </div>
              <div style="display:inline-block;vertical-align:top;width:200px;padding:10px;">
               <h3 style="margin-top:0px;margin-bottom:0px;">Availability</h3>
               <%="In Person<br>".html_safe if s.in_person%>
               <%="Via Skype<br>".html_safe if s.skype%>
              </div>
              <div style="display:inline-block;vertical-align:top;width:200px;padding:10px;">
                <h3 style="margin-top:0px;margin-bottom:0px;">Activities</h3>
                <%=s.bio.truncate(100)%>
              </div>
	      		</div>
            <hr style="margin:5px;">
            <%end%>

            
      		<%end%>
          <%= will_paginate @speakers %>
      		<%end%>

      	</div>
      </div>
    </div>
  </div>