 <div id="content" class="">

        <div id="landing" style="margin-top: -30px;">
          <div class="container">
            <div class="row">
              <div class="span10">
                <h1>Find your speaker</h1>
                <p>Use the filters below to identify the right person to speak with your class or organization. Speaking engagements are generally conducted over Google Hangout, unless the parties decide otherwise.</p>
              </div>
            </div>
          </div>
        </div>

    <div class="container">

      <div class="row">

        <div class="span12">

            <div id="content">

                <%=form_tag teacher_url, :class=>"form-horizontal" do%>
                  <%one = ["Any"]+SpeakerProfile.new.get_careers%>
                  <%two = ["Any","Elementary School", "Middle School", "High School", "College & University"]%>
                  <%three = Array.new(10){|a| a+1}.prepend("Any")%>
                  <%four = ["Any"]+SpeakerProfile.new.get_locations%>
                  <%five = ["Any","In Person", "Via Skype","Both"]%>
               
               <!--Filter Boxes-->
                <div class="row">

                    <div class="span2">
                          <div class="search-tip"></div>
                          Search <a href="#" toggle="tooltip" data-title="first tooltip" container=".search-tip"><span style="border-radius:20px;padding-right:6px;padding-left:6px;border:1px solid #dddddd;"> ?</span></a>
                          <br><br>
                          <%=text_field_tag :query, params[:query], :placeholder=>"Keywords...", :class=>"input-medium location-search"%> 
                      </div>

                      <div class="span2">
                          Location<br><br>
                          <%=text_field_tag :location, params[:location], :placeholder=>"Any", :class=>"input-medium location-search"%>
                      </div>

                      <div class="span2">
                        Want to speak at<br><br>
                        <%=select_tag :school, options_for_select(two.collect{|s| [s,two.index(s)]},params[:school]),:class=>"input-medium"%>
                      </div>

                      <div class="span2">
                        <br><br>
                      <%=submit_tag "Find Speakers",:class=>"btn btn-primary"%>
                      </div>

                </div>

            <%end%>

              <%if @speakers && @speakers.size>0%>
              <%@speakers.each do |s|%>
              
              <!--Filtered speakersummaries-->
              <div class="row">
                
                    <div class="span1" style="padding-top:15px;">
                        <%=image_tag s.image if s.image%>
                    </div>

                    <div class="span4">
                        <h3 style="margin-top:0px;margin-bottom:0px;"><%=s.first_name%> <%=s.last_name%>
                      <%if !user_signed_in? %>
                        <%=link_to "Sign up to view!", new_user_registration_url, :class=>"btn btn-primary btn-mini"%>
                      <%elsif current_user.speaker!="1"%>
                        <%=link_to "View", connect_url(s), :class=>"btn btn-primary btn-mini"%>
                      <%end%>
                        </h3>
                        <%=s.bio%><br>
                        <% if s.years != 0 %>
                        Years of experience: <%=s.years%><br>
                        <%end%>
                        <%=s.address%>
                    </div>


                    <div class="span3">
                     <h3 style="margin-top:0px;margin-bottom:0px;">I want to speak about:</h3>
                     <%=s.speak_about%>
                    </div>

                    <div class="span4">
                      <h3 style="margin-top:0px;margin-bottom:0px;">Skills:</h3>
                      <%=s.skills%>
                    </div>

              </div>
              
              <hr style="margin:5px;">
            <%end%>
            <%= will_paginate @speakers %>
            <%end%>

          </div>

        </div>
      
      </div>
  </div>
</div>

  <!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn teacher-steps" data-toggle="modal" style="display:none;">Launch demo modal</a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Welcome!</h3>
  </div>
  <div class="modal-body">
    <h4>You're about to enter a growing world of brilliant professionals who are eager to share their real-life lessons with your class. Good luck connecting!</h4>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Dismiss</button>
  </div>
</div>
<% if !user_signed_in? && session[:new_teacher].nil?%>
<%session[:new_teacher]=false%>
<script>
$(document).ready(function(){
  $('.teacher-steps').click();
});
</script>
<%end%>